
    <form>
        <div class="form-group d-flex justify-content-between">
            <input type="text" id="searchBox" class="form-control"/>

            <button type="submit" class="btn btn-primary" id="searchBoxbtn">
                <i class="bi-search"></i>
            </button>
        </div>
    </form>
