@model RektaRetailApp.Web.ViewModel.Sales.MakeASaleViewModel

<select name="SaleType" asp-for="SaleType" asp-items="Model.SaleTypes" class="form-control" id="saleTypeSelect">
    <option>Select One</option>
</select>