@using RektaRetailApp.Web.ViewModel.Sales
@model RektaRetailApp.Web.ViewModel.Sales.MakeASaleViewModel

@{
    ViewData["Title"] = "MakeASale";
    var items = new List<ItemSoldViewModel>()
    {
        new ItemSoldViewModel()
        {
            Id = 1, ItemName = "Rice & Stew", Price = 400m, Quantity = 20d, ProductImage = ""
        },
        new ItemSoldViewModel()
        {
            Id = 2, ItemName = "Pounded Yam & Draw Soup", Price = 400m, Quantity = 20d, ProductImage = ""
        },
        new ItemSoldViewModel()
        {
            Id = 3, ItemName = "Shawarma", Price = 800m, Quantity = 20d, ProductImage = ""
        },
        new ItemSoldViewModel()
        {
            Id = 4, ItemName = "Meat Pie", Price = 500m, Quantity = 20d, ProductImage = ""
        }
    };
}

<h1>Make A Sale</h1>


<hr />
<div class="row">
    @foreach (var item in items)
    {
        <div class="card-group">
            <partial name="_ItemToBeSold" model="item"/>
        </div>
    }
    <div class="col-md-12 d-flex justify-content-center">
        <form asp-action="MakeASale">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SaleDate" class="control-label"><b>Date<span class="text-danger">*</span></b></label>
                <input asp-for="SaleDate" class="form-control" value="@DateTimeOffset.Now.LocalDateTime" readonly/>
                <span asp-validation-for="SaleDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="SubTotal" class="control-label"><b>Sub Total<span class="text-danger">*</span></b></label>
                <input asp-for="SubTotal" class="form-control"/>
                <span asp-validation-for="SubTotal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GrandTotal" class="control-label"><b>Grand Total<span class="text-danger">*</span></b></label>
                <input asp-for="GrandTotal" class="form-control"/>
                <span asp-validation-for="GrandTotal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerName" class="control-label"><b>Customer Name<span class="text-danger">*</span></b></label>
                <input asp-for="CustomerName" class="form-control"/>
                <span asp-validation-for="CustomerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerPhoneNumber" class="control-label"><b>Customer Phone Number<span class="text-danger">*</span></b></label>
                <input asp-for="CustomerPhoneNumber" class="form-control"/>
                <span asp-validation-for="CustomerPhoneNumber" class="text-danger"></span>
            </div>

            <div class="form-group d-flex">
                <button type="submit" class="btn btn-primary">Complete Sale  <i class="bi-cart-check-fill"></i></button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-controller="Sales" class="btn btn-info"><i class="bi-chevron-double-left"></i> Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    
    <script type="text/javascript">
        var calculateQuantities = function() {
            $(function() {

            })
        }
    </script>
}
