@using RektaRetailApp.Web.ViewModel.Sales
@model RektaRetailApp.Web.ViewModel.Sales.MakeASaleViewModel

@{
    ViewData["Title"] = "MakeASale";
    var items = new List<ItemSoldViewModel>()
    {
        new ItemSoldViewModel()
        {
            Id = 1, ItemName = "Rice Stew", Price = 400m, Quantity = 20d, ProductImage = ""
        },
        new ItemSoldViewModel()
        {
            Id = 2, ItemName = "PYam Egusi", Price = 400m, Quantity = 20d, ProductImage = ""
        },
        new ItemSoldViewModel()
        {
            Id = 3, ItemName = "Shawarma", Price = 800m, Quantity = 20d, ProductImage = ""
        },
        new ItemSoldViewModel()
        {
            Id = 4, ItemName = "Meat Pie", Price = 500m, Quantity = 20d, ProductImage = ""
        },
        new ItemSoldViewModel()
        {
            Id = 5, ItemName = "Fried Rice", Price = 400m, Quantity = 20d, ProductImage = ""
        },
        new ItemSoldViewModel()
        {
            Id = 6, ItemName = "Amala", Price = 400m, Quantity = 20d, ProductImage = ""
        },
        new ItemSoldViewModel()
        {
            Id = 7, ItemName = "Beer", Price = 800m, Quantity = 20d, ProductImage = ""
        },
        new ItemSoldViewModel()
        {
            Id = 8, ItemName = "Goat Head", Price = 500m, Quantity = 20d, ProductImage = ""
        }
    };
}

<div class="col-12 d-flex">
    <div class="col-md-4 d-flex flex-column">
        <h3>Make A Sale</h3>
    </div>
    <div class="col-md-3 d-flex flex-column">
        <partial name="_SaleTypeDropdown" model="Model"/>
    </div>
    <div class="col-md-5 d-flex flex-column">
        <partial name="_SearchBox" model="items" />
    </div>
</div>


<hr />
<div class="row">
    <div class="col-md-9">
        <div class="card-group">
            @foreach (var item in items)
            {
                <partial name="_ItemToBeSold" model="item"/>
            }
        </div>
    </div>
    <div class="col-md-3">
        <partial name="_OrderCart" model="Model.OrderCart"/>
        <hr />
        @*<partial name="_ConsumableForm" model="Model"/>*@
    </div>
</div>

<div>
    <a asp-action="Index" asp-controller="Sales" class="btn btn-info"><i class="bi-chevron-double-left"></i> Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">

        let keys = [];
        $(function() {
            const targetCard = $('a');
            targetCard.click(function(evt) {
                evt.preventDefault();
                const elementId = $(this).attr('id');

                const pTagId = $(`#${elementId} p`).attr('id');
                //elements.push(`${elementId}-${pTagId}`);
                const objKey = `${elementId}-${pTagId}`;
                const amount = parseInt($(`#${elementId} #${pTagId} b`).text());
                const itemName = $(`#${elementId} h6`).text();
                let currentValue = localStorage.getItem(itemName);
                if (currentValue === null) {
                    localStorage.setItem(itemName, amount);
                }
                

            });
        });
    </script>
}
